

# https://stackoverflow.com/questions/62179484/installing-pyopencl-on-windows-using-intels-sdk-and-pip

pykml
geopandas
Descartes
pandas
matplotlib
scipy
osmnx
networkx
xmltodict
Cython
Rtree
numpy
numba
Shapely
requests
hickle
seaborn
Fiona
pyproj
PyOpenGL
Polygon
pyshp
vispy
osmium
tripy
pyopencl
pyglet
tifffile
odfpy
imageio
svgwrite
fpdf
zipfile2
fuzzywuzzy
siphash24


Cython
Descartes
Fiona
Polygon
PyOpenGL
Rtree
Shapely
fpdf
fuzzywuzzy
geopandas
hickle
imageio
matplotlib
networkx
numba
numpy
odfpy
osmium
osmnx
pandas
pyglet
pykml
pyopencl
pyproj
pyshp
requests
scipy
seaborn
siphash24
svgwrite
tifffile
tripy
vispy
xmltodict
zipfile2